---
const { onclick, id, disabled } = Astro.props;
---

<button
  id={id}
  disabled={disabled}
  class={`
    focus:outline-none
    bg-primary
    duration-500
    ease-in-out
    rounded-4xl
    px-8
    min-h-10
    text-font-light
    text-lg
    font-bold
    hover:scale-105
    active:bg-primary-dark
    active:duration-200
    disabled:bg-primary
    disabled:scale-100
    disabled:opacity-30
    disabled:cursor-default
    cursor-pointer
  `}
  onclick={onclick}
>
  <slot />
</button>

<style></style>
