---
const { onclick, id, disabled } = Astro.props;
---

<button
  id={id}
  disabled={disabled}
  class={`
    focus:outline-none
    bg-primary
    duration-200
    ease-in-out
    rounded-4xl
    px-8
    h-10
    text-font-light
    text-lg
    font-bold
    button-enabled
  `}
  onclick={onclick}
>
  <slot />
</button>
