---
const { value } = Astro.props;
---

<option value={value} class="bg-neutral border-none py-2 px-4 outline-none hover:bg-primary-very-light checked:bg-primary-light custom-option">
  <slot />
</option>

<style>
  .custom-option::checkmark {
    display: none;
  }

  .custom-option:first-of-type {
    border-radius: 1.25rem 1.25rem 0 0;
  }

  .custom-option:last-of-type {
    border-radius: 0 0 1.25rem 1.25rem;
  }

  .custom-option:not(option:last-of-type) {
    border-bottom: none;
  }
</style>
