@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #4287f5;
  --color-primary-light: #94c1f7;
  --color-primary-very-light: #c3dbf7;
  --color-primary-dark: #2267d5;
  --color-primary-transparent: #4287f527;
  --color-primary-light-transparent: #94c1f737;
  --color-primary-dark-transparent: #2267d537;
  --color-neutral: #eaeaea;
  --color-font: #0a0a0a;
  --color-font-dark: #0a0a0a;
  --color-font-light: #f8f8f8;
  --color-font-secondary: #999999;
}

body {
  background-color: var(--color-font-light);
}
