---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Box from "../components/Box.astro";
---

<Layout title="About Us">
  <div class="flex flex-col gap-8 lg:gap-16">
    <section>
      <h1 class="text-font text-4xl font-bold">
        More Than Just File Conversion
      </h1>
      <h2 class="text-font-secondary text-xl font-medium">
        Your trusted, simple, and powerful tool for all your media
        transformation needs.
      </h2>
    </section>
    <section
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-flow-row gap-10 sm:gap-12 md:gap-16 lg:gap-20 xl:gap-24 2xl:gap-30 text-justify"
    >
      <Box>
        <h3 class="text-font text-2xl font-semibold mb-4">Our Story</h3>
        <p>
          It all started with a common frustration. We were constantly looking
          for quick and reliable tools to convert project files for work,
          school, or our creative hobbies. Every tool we found was either too
          complicated, hidden behind a paywall, or felt untrustworthy with our
          data. So, as two developers who love a good challenge, we decided to
          build it ourselves.
        </p>
      </Box>

      <Box>
        <h3 class="text-font text-2xl font-semibold mb-4">What We Do</h3>
        <p>
          Mutatio is a free, web-based tool that lets you effortlessly convert
          between PDFs, images, audio, and video files. Using the powerful
          FFmpeg engine under the hood, we ensure your conversions are fast,
          high-quality, and reliable.
        </p>
      </Box>

      <Box>
        <h3 class="text-font text-2xl font-semibold mb-4">Our Mission</h3>
        <p>
          Our mission is to demystify file conversion. We believe everyone
          should have access to powerful digital tools without the bloat,
          complexity, or worry. We're committed to providing a straightforward,
          secure, and efficient service that just works.
        </p>
      </Box>

      <Box>
        <h3 class="text-font text-2xl font-semibold mb-4">Our Promise</h3>
        <p class="mb-2">
          We value your time. Our interface is clean and you we created it in a
          way that allows you to convert a file in as few clicks as possible.
        </p>
        <p>
          When it comes to privacy and security, we take the matter very
          seriously. The conversion happens completely in your browser - your
          files never even reach our servers. Even if we wanted to, we'd have no
          way of accessing or viewing your files.
        </p>
      </Box>

      <Box>
        <h3 class="text-font text-2xl font-semibold mb-4">Our Request</h3>
        <p>
          Keeping the site up and running has a cost, on top of the time it took
          us to build the site in the first place, without considering
          maintenance time. We don't ask for any money for our services, our
          only request would be for you to kindly turn off any ad-blockers you
          may be using for this site. It's our only way of covering our server
          costs and supports our work tremendously.
        </p>
      </Box>

      <Box>
        <h3 class="text-font text-2xl font-semibold mb-4">
          Ready To Give It A Try?
        </h3>
        <p>
          Head back to the home page and convert as many files as you want
          completely for free!
        </p>
      </Box>

      <Box>
        <h3 class="text-font text-2xl font-semibold mb-4">
          Feedback Or Questions?
        </h3>
        <p class="mb-2">
          We'd love to hear from you! For any inquiries, contact us here: <a
            href="mailto:placeholderemail@domain.com"
            >placeholderemail@domain.com</a
          >.
        </p>
        <p>
          Alternatively, you can visit the <a href="/faq">FAQs</a> page to find an
          answer to your question.
        </p>
      </Box>
    </section>
    <section class="flex flex-row justify-center mt-16">
      <div class="w-2/3 sm:w-1/2 md:w-7/8 lg:w-2/3">
        <h3 class="text-font text-2xl font-semibold mb-4">Meet The Team</h3>
        <div
          class="grid grid-flow-row grid-cols-1 md:grid-cols-2 gap-10 sm:gap-12 md:gap-16 lg:gap-20 xl:gap-24 2xl:gap-30"
        >
          <div>
            <div class="flex flex-col gap-2">
              <img
                src="/placeholder-headshot.jpg"
                class="w-full"
                alt="David Mairhofer - One of the two team members"
              />
              <p class="text-font-secondary text-sm">
                David Mairhofer - FFmpeg implementation
              </p>
            </div>
          </div>

          <div>
            <div class="flex flex-col gap-2">
              <img
                src="/placeholder-headshot.jpg"
                class="w-full"
                alt="Elias Walter Ebner - One of the two team members"
              />
              <p class="text-font-secondary text-sm">
                Elias Walter Ebner - Frontend
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>
