---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import RightArrow from "../components/RightArrow.astro";
import Button from "../components/Button.astro";
import Select from "../components/Select.astro";
import Option from "../components/Option.astro";

const something = ["mp3", "mp4", "jpg", "png", "webp", "webm", "wav", "gif", "mkv", "mov", "avi", "wmv", "aac", "opus", "wma", "bmp", "tiff"];
---

<Layout>
  <section class="w-full h-full flex justify-center items-center">
    <div class="flex flex-col md:flex-row gap-8 sm:gap-10 md:gap-6 lg:gap-8 xl:gap-12 2xl:gap-16 items-center">

      <!-- FILE UPLOAD -->
      <div class="flex flex-col items-center gap-4 pt-14">

        <!-- UPLOAD AREA -->
        <div id="drop-area" class="hover:scale-110 aspect-video w-52 sm:w-68 px-8 md:w-50 lg:w-70 xl:w-90 lg:px-10 cursor-pointer duration-500 ease-out border-dashed border-2 border-primary rounded-4xl bg-primary-transparent flex justify-center items-center">
          <p class="text-primary text-center">
            Drag and drop a file or click to upload
          </p>

          <!-- HIDDEN INPUT FOR FILE -->
          <input type="file" class="hidden" id="file-input" multiple=false />
        </div>


        <!-- FILENAME ONCE UPLOADED -->
        <p id="file-name" class="hidden w-90 text-center">
        </p>

        <!-- SUBMIT BUTTON -->
        <Button>Submit</Button>
      </div>


      <!-- CHEVRON -->
      <ion-icon name="chevron-forward-outline" class="text-5xl hidden md:block" />
      <ion-icon name="chevron-down-outline" class="text-5xl md:hidden" />

      <!-- TARGET FILETYPE -->
      <div id="extension-select-container" class="low-opacity">
        <Select disabled id="extension-select" label="Target filetype">
          {something.map((elem) => 
            <Option value={elem}>{elem}</Option>
          )}
        </Select>
      </div>

      <!-- CHEVRON -->
      <ion-icon name="chevron-forward-outline" class="text-5xl hidden md:block" />
      <ion-icon name="chevron-down-outline" class="text-5xl md:hidden" />

      <!-- CONVERTED FILE -->
      <div class="aspect-video w-52 sm:w-68 px-8 md:w-50 lg:w-70 xl:w-90 lg:px-10 flex justify-center items-center hover:scale-110 cursor-pointer duration-500 ease-out border-dashed border-2 border-primary rounded-4xl bg-primary-transparent">
        <ion-icon name="download-outline" class="text-6xl pb-2 sm:text-7xl md:text-6xl md:pb-3 lg:text-7xl lg:pb-4 xl:text-8xl xl:bg-6 text-font-secondary" />
      </div>
    </div>
  </section>
</Layout>

<!-- STYLE ---------------------------------------------------------------------------------------->

<style>
  .hidden {
    display: hidden;
  }

  .low-opacity {
    opacity: 30%;
  }
</style>

<!-- SCRIPT --------------------------------------------------------------------------------------->

<script>
  const dropArea: HTMLDivElement | null =
    document.getElementById("drop-area") as HTMLDivElement | null;
  const fileNameParagraph: HTMLParagraphElement | null =
    document.getElementById("file-name") as HTMLParagraphElement | null;
  const fileInput: HTMLInputElement | null =
    document.getElementById("file-input") as HTMLInputElement | null;
  const extensionSelect: HTMLSelectElement | null =
    document.getElementById("extension-select") as HTMLSelectElement | null;
  const extensionSelectContainer: HTMLDivElement | null =
    document.getElementById("extension-select-container") as HTMLDivElement | null;


  if(dropArea) {
    // needed to make drag and drop work
    dropArea.ondragover = dropArea.ondragenter = function(event) {
      event.preventDefault();
    }
  }

  // triggered regardless of whether file is uploaded through
  // drag and drop or click to upload
  function onFileUpload(file: File | null) {
    if (dropArea && fileNameParagraph && extensionSelectContainer && extensionSelect && fileInput && file){
      dropArea.classList.add("hidden");
      fileNameParagraph.classList.remove("hidden");
      fileNameParagraph.innerText = file.name;
      extensionSelect.disabled = false;
      extensionSelectContainer.classList.remove("low-opacity")
    }
  }

  // only on drag and drop upload
  function dropAreaDropHandler(event: DragEvent) {
    event.preventDefault();
    console.log("something happened")

    if (event.dataTransfer?.items && event.dataTransfer.items.length !== 0) {
      const file = event.dataTransfer.items[0].getAsFile();
      onFileUpload(file);

      // this is weird but it doesn't work othewise trust me bro
      if (file && fileInput) {
        const dataTransfer = new DataTransfer();
        dataTransfer.items.add(file);
        fileInput.files = dataTransfer.files;
      }
    }
  }

  // only on click to upload
  function dropAreaClickHandler(_event: MouseEvent) {
    // manually trigger click event on hidden <input type="file" />
    fileInput?.dispatchEvent(new MouseEvent("click"));
  }

  // for upload with click: once uploaded change
  // the contents of the filename element
  function fileInputChangeHandler(_event: Event) {
    onFileUpload(fileInput?.files?.[0] ?? null);
  }

  dropArea?.addEventListener("drop", dropAreaDropHandler);
  dropArea?.addEventListener("click", dropAreaClickHandler);
  fileInput?.addEventListener("change", fileInputChangeHandler);
</script>
